@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  background-image: url("./assets/img/bg.gif") !important;
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position: inherit;

  font-family: 'Press Start 2P', cursive;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-todo {
  background: #FFF;
  width: 30vw;
}

#container-add-task {
  display: flex;
  padding: 0px 0px 20px 0px;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}